.carousel-caption h2 {
        font-size: 30px;
}
.carousel-control.right {
        background-image: none;
}
.carousel-control.left {
    background-image: none;
}
body {
    font-family: 'Long Cang', cursive;
}
header .carousel-inner .item {
        height: 100vh;
}
.carousel-caption {
    margin-bottom: 350px;
}