<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Bir Junior Developer'in programlamaya ilk adımlarının örneği">
<meta name="keywords" content="Yasin Akdoğan,yazılım,kişisel,web,sitesi">
<meta name="author" content="Yasin Akdoğan">
<link rel="stylesheet" href="{% static 'css/iletisim.css'%}">
<title>Bana Ulaşın</title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<h1>Benimle iletişime geçmek için:</h1>
<p>yasin_akdogan15@hotmail.com</p>
<ul>
<li><a href="https://www.linkedin.com/in/yasin-akdo%C4%9Fan-a18268165/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
<li><a href="https://www.instagram.com/yasinakdogan23/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></i></a></li>
<li><a href="https://twitter.com/YasiiAkdogann" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="https://github.com/pablusha" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
</ul>
</body>
</html>