<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Bir Junior Developer'in programlamaya ilk adımlarının örneği">
<meta name="keywords" content="Yasin Akdoğan,yazılım,kişisel,web,sitesi">
<meta name="author" content="Yasin Akdoğan">
<title>Yasin Akdoğan</title>
<script src="{% static 'javascript/style.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<div class="container">
<a href=""><button class="btn btn1">Anasayfa</button></a>
<a href="hakkimda"><button class="btn btn2">Hakkımda</button></a>
<a href="projects"><button class="btn btn3">Projelerim</button></a>
<a href="iletisim"><button class="btn btn4">İletişim</button>
</div>
</body>
</html>